@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}
@layer components {
  .main-container {
    @apply container px-20 mx-auto;
  }
}
